.pofileContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pofileContent .switch{
  margin-top: 1rem;
}

.pofileContent .switch .react-switch-handle{
  background: greenyellow;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer .information{
  margin-left: 1.5rem;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img{
  margin-right: 0.5rem;
}

@media (max-width: 1000px){
  .pofileContent {
    margin-top: 5rem;
  }
}